* {
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 4.5fr [end-col-line];
  grid-template-rows: 1fr 5fr [end-row-line];
}



#sidebar {
  background-color: rgb(27, 151, 192);
  color: white;
  
  grid-column: 1 / span 1;
  grid-row: 1 / end-row-line;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 3.5em;

  padding: 1em;
}

#sidebar-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#nav,
#options {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 0.75rem;

  padding: 0 0.75rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.link > h2 {
  font-size: larger;
}

#sidebar a {
  text-decoration: none;
  color: white;
}



#header {
  background-color: whitesmoke;

  grid-column: 2 / end-col-line;
  grid-row: 1 / span 1;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1.5fr 1fr;
  row-gap: 1.75em;

  padding: 0.5em 3em 1.25em;
}

#search-bar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  align-items: center;
  gap: 1em;

  padding: 1em 0;
}

input[type=search] {
  background-color: lightgray;
  border-radius: 1em;
  border: none;
  
  outline: none;

  padding-left: 1em;

  min-height: 2em;
  
  flex-grow: 1;
}

#notify-panel {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;

  column-gap: 1.75em;

  padding-left: 1em;
  padding-right: 2em;
}

#notify-username-text {
  font-size: medium;
  text-wrap: nowrap;
}

#user-info {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  align-self: center;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  align-items: center;

  column-gap: 1em;

  padding: 0.5em;
}

#user-info p {
  font-weight: bold;
}

#user-greeting {
  font-size: small;
  margin-bottom: 0.25rem;
}

#username-text {
  font-size: x-large;
}


#header-buttons {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 2em;

  padding: 0.5em;
}

.header-btn {
  font-size: medium;
  font-weight: bold;

  background-color: rgb(10, 124, 195);
  color: white;

  border-radius: 1.35em;
  border: none;

  padding: 0.65em 2em;
}



#main-content {
  background-color: rgb(227, 227, 227);

  grid-column: 2 / end-col-line;
  grid-row: 2 / end-row-line;

  display: grid;
  grid-template-columns: minmax(min-content, 2.75fr) minmax(min-content, 1fr);
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  
  column-gap: 2em;
  row-gap: 3em;

  padding: 2em 2em 4em 1em;
}

#main-content h2 {
  margin-bottom: 0.5em;
}



#projects {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
}

.project-card {  
  background-color: whitesmoke;

  border-radius: 1em;
  box-shadow: 
    0.1em 0.1em 0.1em lightgray,
    inset 1em 0 yellow;

  padding-left: 0.75em;
  padding-right: 2em;

  display: flex;
  flex-direction: column;
}

.card-main {
  background-color: whitesmoke;

  height: 100%;

  padding: 2.5em 2.5em 2.5em 1.5em;

  display: flex;
  flex-direction: column;

  position: relative;
}

.card-content {
  margin-bottom: 4em;
}

.card-action-icons {
  position: absolute;

  bottom: 2.5em;
  right: 2.5em;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 3em;
}

.project-title {
  margin-bottom: 0.5em; 
}


#announcements {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

#announcements-container {
  background-color: whitesmoke;

  display: grid;
  grid-template-rows: min-content 0 min-content 0 min-content;
  align-items: center;
  
  row-gap: 1.5em;

  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em lightgray;

  padding: 3em;
}

.announcement-title {
  font-size: 1em;
  margin-bottom: 0.35em;
}

.announcement-text {
  font-size: small;
  color: rgb(93, 93, 93);
}

#announcements-container > hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}




#trending-container {
  background-color: whitesmoke;

  grid-area: 2 / span 1;

  display: grid;
  grid-template-rows: repeat(4, min-content);
  row-gap: 2.5em;

  padding: 2em;
  border-radius: 1em;
}

.trending-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, 1fr);

  align-items: center;

  gap: 0.25em 1.5em;
}

.trending-wrapper > img {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;

  padding: 1em;
}

.trending-username {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.trending-user-role {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  font-size: 0.95em;
  color: rgb(93, 93, 93);
}